* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f6f8f9;
}

nav {
    height: 60px;
    background-color: white;
    margin-bottom: 50px;
}

#logo {
    vertical-align: middle;
}

h1 {
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
    vertical-align: middle;
}

#struttura-window {
    height: 700px;
    width: 700px;
    background-color: white;
    border-radius: 15px;
    margin: auto;
}

/* Bottoni */

#button1 {
    background-color: #47adf1;
    border-radius: 5px;
    width: 100px;
    height: 35px;
    border: none;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 40px;
}

#button2 {
    background-color: white;
    border: 2px solid #cfd4d8;
    border-radius: 5px;
    width: 100px;
    height: 35px;
}

#internobottone1 {
    font-weight: bold;
    color: white;
}

#internobottone2 {
    font-weight: bold;
    color: #cfd4d8;
}

/* Fine bottoni */

#divisore {
    border-bottom: 2px solid #cfd4d8;
}

/* Lista oggetti */

#sublist {
    padding: 40px;
}

.sectionlist {
    margin-bottom: 30px;
}

.menulist {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
}

/* Fine lista oggetti */

/* Sottolista oggetti*/

.submenu {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 15px;
    margin-top: 15px;
}

.checkmark {
    color: #61bea6;
    border: 1px solid #61bea6;
    border-radius: 50%;
    padding: 3px 7px;
    margin-right: 5px;
    display: inline-block;
}

.errormark {
    color: #e8443b;
    border: 1px solid #e8443b;
    border-radius: 50%;
    padding: 3px 7px;
    margin-right: 5px;
    display: inline-block;
}

.bluebutton {
    display: inline-block;
    padding: 8px;
    padding-left: 12px;
    padding-right: 12px;
    background-color: #45abea;
    border-radius: 12px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

.purplebutton {
    display: inline-block;
    padding: 8px;
    padding-left: 12px;
    padding-right: 12px;
    background-color: #9c72e4;
    border-radius: 12px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

.greenbutton {
    display: inline-block;
    padding: 8px;
    padding-left: 12px;
    padding-right: 12px;
    background-color: #64c0a9;
    border-radius: 12px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

.orangebutton {
    display: inline-block;
    padding: 8px;
    padding-left: 12px;
    padding-right: 12px;
    background-color: #f29e33;
    border-radius: 12px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

.pinkbutton {
    display: inline-block;
    padding: 8px;
    padding-left: 12px;
    padding-right: 12px;
    background-color: #d863a1;
    border-radius: 12px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

.olivebutton {
    display: inline-block;
    padding: 8px;
    padding-left: 12px;
    padding-right: 12px;
    background-color: #b0c926;
    border-radius: 12px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}


/* Fine sottolista oggetti*/